$primary-color: #96ecff;
$secondary-color: #ff2768;
$tertiary-color: #232323;

$primary-font: "Oswald", sans-serif;
$secondary-font: "Lora", serif;

$heading-text: 108px;
$heading2-text: 72px;
$heading3-text: 54px;
$heading4-text: 36px;

$normal-text: 28px;
$body-text: 16px;
$small-text: 14px;

$mobile: 800px;
