.about {
  width: 100vw;
  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  @include tablet {
    align-items: center;
  }

  &__heading {
    @include heading();
    margin: 2rem 4rem;
    text-transform: capitalize;
    border: 0;
    @include mobile {
      font-size: $heading4-text;
    }
  }

  &__card {
    display: flex;
    font-family: $secondary-font;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin: 2rem 3rem;
    @include tablet {
      flex-direction: column;
    }

    &__second {
      @include tablet {
        flex-direction: column-reverse;
      }
    }
    &__image {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;

      &__second {
        justify-content: flex-start;
      }

      img {
        width: 450px;
        @include mobile {
          width: 250px;
        }
      }
    }
    &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      @include tablet {
        justify-content: center;
        align-items: center;
        margin: 2rem;
        width: 80%;
      }

      @include mobile {
        width: 100%;
      }
      h1 {
        font-size: $heading4-text;
        font-weight: 600;
        font-family: $primary-font;
        margin-bottom: 2rem;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        width: 40ch;
        @include mobile {
          width: 25ch;
        }
      }

      &__second {
        padding-left: 10rem;
        @include tablet {
          padding-left: 0;
        }
      }
    }
  }
}
