.sponsors {
  width: 100vw;
  height: auto;
  position: relative;

  h1 {
    @include subHeading;
    text-align: center;
    width: 60%;
    margin: 4rem auto 2rem auto;

    @include mobile {
      margin-top: 8rem;
    }
  }
  &__images {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__image {
    width: 250px;
    margin: 1rem 2rem;

    img {
      width: 100%;
    }
    @include mobile {
      width: 150px;
    }
  }
  &__main_parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__main {
    width: 300px;

    @include mobile {
      width: 220px;
    }
  }

  &__row {
    margin-bottom: 3rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include mobile {
      margin-bottom: 2rem;
    }
  }
}
