.contact {
  width: 100vw;
  display: flex;
  height: auto;
  padding-top: 1rem;
  font-family: $primary-font;
  flex-direction: column;
  justify-content: space-between;
  background-color: $secondary-color;

  @include mobile {
    height: 50vh;
  }

  &__message {
    margin: 0 5%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: $normal-text;

    @include tablet {
      width: 80%;
      font-size: 20px;
      flex-direction: column;
    }
    p {
      width: 50%;
      margin-bottom: 1rem;
      text-align: center;
      font-weight: 700;

      @include tablet {
        width: 90%;
      }
    }
    &__links {
      width: 50%;
      display: flex;
      flex-direction: column;
      color: #fff;
      font-size: $heading3-text;
      font-weight: 500;
      text-align: center;

      @include tablet {
        width: 90%;
        // margin-bottom: 5rem;
        font-size: $heading4-text;
      }

      .social__links {
        width: 50%;
        margin: 2rem auto 1rem auto;
        display: flex;
        justify-content: space-around;
        font-size: $heading4-text;

        a {
          text-decoration: none;
          color: $tertiary-color;
          margin: 5px;
        }
      }
    }
  }

  &__bottom {
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 0rem;
    font-family: $secondary-font;

    a {
      text-decoration: none;
      color: $tertiary-color;
    }
  }
}
